@CHARSET "UTF-8";

body {
	font-family: Verdana, Tahoma;
}

.card {
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 5px;
	margin: 4px;
	padding: 0;
	background-size: cover;
}

.deck {
	width: 648px;
}

.facedown {
	background-color: black;
}

.eliminated {
	visibility: hidden;
}
